@model test_versta.ViewModels.OrderViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Детали заказа";
    Layout = "_Layout";
}

<div class="container d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="container my-4" style="max-width: 600px">
        <div class="card animate__animated animate__fadeIn">
            <div class="card-header">
                Заказ № @Model.OrderId
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-5">Город отправителя</dt>
                    <dd class="col-7">@Model.SenderCity</dd>

                    <dt class="col-5">Адрес отправителя</dt>
                    <dd class="col-7">@Model.SenderAddress</dd>

                    <dt class="col-5">Город получателя</dt>
                    <dd class="col-7">@Model.RecipientCity</dd>

                    <dt class="col-5">Адрес получателя</dt>
                    <dd class="col-7">@Model.RecipientAddress</dd>

                    <dt class="col-5">Вес груза</dt>
                    <dd class="col-7">@Model.Weight кг</dd>

                    <dt class="col-5">Дата забора</dt>
                    <dd class="col-7">@Model.PickupDate.ToString("yyyy-MM-dd")</dd>
                </dl>
                @if(Model.ClientFullName != null)
                {
                    <div class="mt-3">
                        <h5>Информация об отправителе (клиенте):</h5>
                        <p>@Model.ClientFullName (@Model.ClientEmail)</p>
                    </div>
                }
                <a asp-action="Index" class="btn btn-secondary">Вернуться к списку</a>
            </div>
        </div>
    </div>
</div>


